h1,
h2 {
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Gabarito', sans-serif;
    background-color: #dce4fa;
}

.buttons {
    color: #4b76de;
    background-color: #abc3ff;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    margin: 5px;
    padding: 7px;
}

#try-again-btn{
    font-size: larger;
}

#profile{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 75%;
}

.buttons:active {
    transform: translateY(2px);
}

#round-logo {
    margin-top: 40px;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.home-page-btns {
    width: 100px;
    position: absolute;
    top: 80%;
    left: 46%;
}

#login-btn {
    top: 90%;
}

.logo-line {
    height: 50px;
}

.logout-btn {
    float: right;
}

.seconds-btn1 {
    position: absolute;
    left: 15%;
}

.seconds-btn2 {
    position: absolute;
    left: 45%;
}

.seconds-btn3 {
    position: absolute;
    right: 15%;
}

.your{
    border-right: 2px solid black;
}

#in-lead{
    border-top: 2px solid black;
}

.not-visable {
    visibility: hidden;
}

.hidden {
    display: none;
}

#sticky-menu{
    color: #4b76de;
    border: 3px solid #4b76de;
    background-color: #abc3ff;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: sticky;
    top:20%;
    left:100%;
    right:0%;
    width: 200px;
    /* display:inline-block; */
}

.profile-dives{
    margin-top: 6%;
    border: 3px solid #4b76de;
    border-radius: 10px;
    width: 800px;
    margin-left: 1%;
}

.div-heading{
    padding-left: 3%;
}

#profile-menu{
    list-style: none;
    padding-right: 10%;
}

.profile-list{
    list-style:none;
}