.sign-form {
    margin: auto;
    text-align: center;
}

input {
    margin: 1vh;
}

.passwordRules {
    color: rgb(105, 105, 105);
    font-size: small;
}

input:focus{
    border: 4px solid #6284d5;
}