#container {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 600px;
    display: grid;
    grid-template-areas:
        'timer orders orders orders orders orders'
        'money orders orders orders orders orders'
        'plating plating feedback ingredients ingredients ingredients'
        'plating plating feedback ingredients ingredients ingredients'
        'plating plating serve ingredients ingredients ingredients';
    background-image: url('../media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#orders {
    grid-area: orders;
    margin-bottom: 10px;
}

#timer {
    grid-area: timer;
}

#money {
    grid-area: money;

}

#serve {
    grid-area: serve;
}

#plating {
    grid-area: plating;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    background-repeat: repeat;
    background-size: cover;
    background-image: url('../media/glass.png');
}

#plate {
    height: 100px;
    width: 250px;
    padding: 10px;
    padding-top: 0px;
    order: 6;
}

.tray {
    flex-basis: 30%;
    padding: 10px;
}

.tray-img {
    width: 90%;
    height: 170px;
}

.black {
    filter: saturate(10%);
}

.unpressed:hover {
    cursor: pointer;
}

.plating-buttons {
    font-size: large;
    display: block;
    margin: 10px;
    padding: 5px 7px;
    width: 90px;
    text-align: center;
}

#tomato {
    height: 20px;
}

#onion {
    height: 20px;
}

#patty {
    height: 60px;
}

#lettuce,
#bottom-bun {
    height: 40px;
}

#top-bun {
    height: 80px;
}

.ingredient {
    width: 170px;
}


.hidden {
    display: none;
}

.order {
    border-radius: 10%;
    background-color: rgb(224, 235, 255);
    border: 3px solid black;
    height: 200px;
    width: 15%;
}

#orders {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#ingredients {
    grid-area: ingredients;
    /* background-image :url('../media/prefabs/table.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.not-visable {
    visibility: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bottom-bun-tray {
    grid-area: bottom-bun;
}

#top-bun-tray {
    grid-area: top-bun;
}

#patty-tray {
    grid-area: patty;
}

#tomato-tray {
    grid-area: tomat;
}

#lettuce-tray {
    grid-area: lettuce;
}

#onion-tray {
    grid-area: onion;
}

#bottom-bun-tray {
    grid-area: bottom-bun;
}

#top-bun-tray {
    grid-area: top-bun;
}

#patty-tray {
    grid-area: patty;
}

#tomato-tray {
    grid-area: tomat;
}

#lettuce-tray {
    grid-area: lettuce;
}

#onion-tray {
    grid-area: onion;
}

.new-order-heading {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 1px;
}

.order-details {
    list-style: none;
    list-style-position: outside;
}

#feedback-text {
    display: block;
    border: 3px dashed black;
    border-radius: 10%;
    margin: 15px 5px;
    padding: 10px;
    background-color: rgb(224, 235, 255);
}

#feedback {
    width: min-content;
    margin: auto;
    grid-area: feedback;
}

.amount-label {
    position: relative;
    background-color: rgb(224, 235, 255);
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    height: 15px;
    width: 15px;
    display: block;
    bottom: 30px;
    left: 80px;
}

.status {
    background-color: rgb(224, 235, 255);
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    margin: 5px;
}