#container{
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 600px;
    display: grid;
    grid-template-areas:
    'timer orders orders orders orders orders'
    'money orders orders orders orders orders'
    /* 'plating plating . ingredients ingredients ingredients' */
    'plating plating . ingredients ingredients ingredients'
    'plating plating serve ingredients ingredients ingredients';

}

#orders{
    grid-area: orders;
    background-color: palevioletred;
}

#timer{
    grid-area: timer;
    background-color: rgb(112, 216, 181);

}

#money{
    grid-area: money;
    background-color: rgb(237, 239, 145);

}

#serve{
    grid-area: serve;
    background-color: rgb(75, 9, 31);

}

#plating{
    grid-area: plating;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 157, 216);
    justify-content: flex-end;
    align-items: center;
}

#plate{
    height: 100px;
    width:300px;
    padding: 10px;
    padding-top: 0px;
}

.tray{
    flex-basis: 30%;
    padding: 10px;
}

.tray:hover{
    cursor: pointer;
}

.tray-img{
    width: 90%;
    height: 170px;
}


#tomato{
    height: 20px;
}

#onion{
    height: 20px;
}

#patty{
    height: 60px;
}

#lettuce{
    height: 40px;
}

#top-bun{

}

#bottom-bun{

}

.ingredient{
    width:200px;
}

.bun{
    height: 80px;
}

.hidden{
    display: none;
}

.order{
    border-radius: 10%;
    background-color: rgb(224, 235, 255);
    border: 4px solid black;
    height: 200px;
    width: 100px;
}

#orders{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#ingredients{
    /* display: grid;
    gap:0px;
    grid-template-areas: 
    'tomat lettuce onion'
    'top-bun bottom-bun patty'; */
    grid-area: ingredients;
    background-color: rgb(114, 169, 69);
}

.row{
    /* width: 400px;
    height: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: ingredients;
    background-color: rgb(114, 169, 69);
}

#bottom-bun-tray{
    grid-area: bottom-bun;
}

#top-bun-tray{
    grid-area: top-bun;
}

#patty-tray{
    grid-area: patty;
}

#tomato-tray{
    grid-area: tomat;
}

#lettuce-tray{
    grid-area: lettuce;
}

#onion-tray{
    grid-area: onion;
}

#bottom-bun-tray{
    grid-area: bottom-bun;
}

#top-bun-tray{
    grid-area: top-bun;
}

#patty-tray{
    grid-area: patty;
}

#tomato-tray{
    grid-area: tomat;
}

#lettuce-tray{
    grid-area: lettuce;
}

#onion-tray{
    grid-area: onion;
}