#container{
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 600px;
    display: grid;
    grid-template-areas:
    'timer orders orders orders orders orders'
    'money orders orders orders orders orders'
    'plating plating .  ingredients ingredients ingredients'
    'plating plating .  ingredients ingredients ingredients'
    'plating plating serve ingredients ingredients ingredients';

}

#orders{
    grid-area: orders;
    background-color: palevioletred;
}

#timer{
    grid-area: timer;
    background-color: rgb(112, 216, 181);

}

#money{
    grid-area: money;
    background-color: rgb(237, 239, 145);

}

#serve{
    grid-area: serve;
    background-color: rgb(75, 9, 31);

}

#plating{
    grid-area: plating;
    background-color: rgb(112, 157, 216);

}

.tray{

}

#tomato{

}

#onion{

}

#patty{

}

#lettuce{

}

#top-bun{

}

#bottom-bun{

}

.ingredient{
    display: none;
}

.order{
    border-radius: 10%;
    background-color: rgb(224, 235, 255);
    border: 4px solid black;
    height: 200px;
    width: 100px;
}

#orders{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#ingredients{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-area: ingredients;
    background-color: rgb(114, 169, 69);
}